In [23]:
import pandas as pd
import numpy as np
import sqlite3

# Load data
data = pd.read_excel('sample ClassSched-CS-S25.xlsx', header=1)

# Connect to DB early to allow deduplication (prevent every rerun to always dupe the data)
conn = sqlite3.connect('ClassSchedule.db')

In [24]:
# --- COLLEGE ---
college_df = data[['College']].drop_duplicates().rename(columns={'College': 'CollegeName'})
existing_colleges = pd.read_sql("SELECT CollegeName FROM College;", conn)
college_df = college_df[~college_df['CollegeName'].isin(existing_colleges['CollegeName'])]
college_df['CollegeID'] = range(1, len(college_df) + 1)

In [25]:
# --- INSTRUCTOR ---
instructor_df = data[['Instructor First Name', 'Instructor Last Name']].drop_duplicates().rename(columns={
    'Instructor First Name': 'InstructorFirstName',
    'Instructor Last Name': 'InstructorLastName'
})
existing_instructors = pd.read_sql("SELECT InstructorFirstName, InstructorLastName FROM Instructor;", conn)
instructor_df = instructor_df.merge(existing_instructors, on=['InstructorFirstName', 'InstructorLastName'], how='left', indicator=True)
instructor_df = instructor_df[instructor_df['_merge'] == 'left_only'].drop(columns=['_merge'])
instructor_df['InstructorID'] = range(1, len(instructor_df) + 1)

In [26]:
# --- ROOM ---
room_df = data[['Room', 'Room Capacity']].drop_duplicates().rename(columns={
    'Room': 'RoomNo',
    'Room Capacity': 'RoomCapacity'
})
existing_rooms = pd.read_sql("SELECT RoomNo, RoomCapacity FROM Room;", conn)
room_df = room_df.merge(existing_rooms, on=['RoomNo', 'RoomCapacity'], how='left', indicator=True)
room_df = room_df[room_df['_merge'] == 'left_only'].drop(columns=['_merge'])
room_df['RoomID'] = range(1, len(room_df) + 1)

In [27]:
# --- STATUS ---
status_df = data[['Class Stat']].drop_duplicates().rename(columns={'Class Stat': 'StatusCode'})
existing_statuses = pd.read_sql("SELECT StatusCode FROM Status;", conn)
status_df = status_df[~status_df['StatusCode'].isin(existing_statuses['StatusCode'])]
status_df['StatusID'] = range(1, len(status_df) + 1)

In [28]:
# --- CLASS ---
class_df = data[['Title', 'Catalog', 'Subject', 'Section', 'Enrollment Capacity', 'College']].drop_duplicates()
class_df = class_df.rename(columns={'Enrollment Capacity': 'Enrollment_Capacity'})

# Get existing College IDs
college_ids = pd.read_sql("SELECT * FROM College;", conn)
class_df = class_df.merge(college_ids, left_on='College', right_on='CollegeName', how='left')
class_df.drop(columns=['College', 'CollegeName'], inplace=True)

class_df['Term'] = 'Spring 2025'
class_df = class_df[['Title', 'Catalog', 'Subject', 'Section', 'Enrollment_Capacity', 'CollegeID', 'Term']]

existing_class = pd.read_sql("SELECT Title, Catalog, Subject, Section, Term FROM Class;", conn)
class_df = class_df.merge(existing_class, on=['Title', 'Catalog', 'Subject', 'Section', 'Term'], how='left', indicator=True)
class_df = class_df[class_df['_merge'] == 'left_only'].drop(columns=['_merge'])

In [29]:
# --- SECTION ---
section_df = data[['Class Nbr', 'Component', 'Combined?', 'Waitlist Capacity',
                   'Waitlist Total', 'Prgrss Unt', 'Class Stat', 'Session', 'Instruction Mode']].drop_duplicates().copy()

section_df.rename(columns={
    'Class Nbr': 'SectionClassID',
    'Component': 'Component',
    'Combined?': 'IsCombined',
    'Waitlist Capacity': 'WaitlistCapacity',
    'Waitlist Total': 'WaitlistTotal',
    'Prgrss Unt': 'ProgressUnit',
    'Class Stat': 'StatusID',
    'Session': 'Session',
    'Instruction Mode': 'InstructionMode'
}, inplace=True)

section_df['IsCombined'] = section_df['IsCombined'].map({'Yes': True, 'No': False})
section_df['ClassDays'] = 'TBD'
section_df['StartTime'] = '00:00'
section_df['EndTime'] = '00:00'
section_df['StartDate'] = '2025-01-01'
section_df['EndDate'] = '2025-05-01'
section_df['RoomID'] = 1

section_df = section_df[['SectionClassID', 'ClassDays', 'StartTime', 'EndTime', 'StartDate', 'EndDate',
                         'RoomID', 'Component', 'IsCombined', 'WaitlistCapacity', 'WaitlistTotal',
                         'ProgressUnit', 'StatusID', 'Session', 'InstructionMode']]

existing_section_ids = pd.read_sql("SELECT SectionClassID FROM Section;", conn)
section_df = section_df[~section_df['SectionClassID'].isin(existing_section_ids['SectionClassID'])]

In [30]:
# --- SECTION INSTRUCTOR ---
data['InstructorFullName'] = data['Instructor First Name'].str.strip() + ' ' + data['Instructor Last Name'].str.strip()
instructors = data[['InstructorFullName']].drop_duplicates().reset_index(drop=True)
instructors['InstructorID'] = instructors.index + 1

data = data.merge(instructors, on='InstructorFullName', how='left')
data['SectionClassID'] = data['Class Nbr']
section_instructor = data[['SectionClassID', 'InstructorID']].drop_duplicates()

existing_section_instructor = pd.read_sql("SELECT SectionClassID, InstructorID FROM SectionInstructor;", conn)
section_instructor = section_instructor.merge(existing_section_instructor, on=['SectionClassID', 'InstructorID'], how='left', indicator=True)
section_instructor = section_instructor[section_instructor['_merge'] == 'left_only'].drop(columns=['_merge'])

In [31]:
# --- SAVE TO DATABASE ---
college_df.to_sql('College', conn, if_exists='append', index=False)
instructor_df.to_sql('Instructor', conn, if_exists='append', index=False)
room_df.to_sql('Room', conn, if_exists='append', index=False)
status_df.to_sql('Status', conn, if_exists='append', index=False)
class_df.to_sql('Class', conn, if_exists='append', index=False)
section_df.to_sql('Section', conn, if_exists='append', index=False)
section_instructor.to_sql('SectionInstructor', conn, if_exists='append', index=False)

# Print contents of each table
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

for table_name in tables['name']:
    print(f"\nContents of {table_name} table:")
    table_data = pd.read_sql(f"SELECT * FROM {table_name};", conn)
    print(table_data)

conn.close()

Contents of College table:
   CollegeID CollegeName
0          1        ENGR

Contents of sqlite_sequence table:
         name    seq
0     College      1
1  Instructor     19
2        Room     17
3      Status      1
4       Class     36
5     Section  32389

Contents of Status table:
   StatusID StatusCode
0         1          A

Contents of Room table:
    RoomID    RoomNo  RoomCapacity
0        1   SEM 101           254
1        2  WPEB 100            58
2        3  WPEB 130           210
3        4   SEM 234            70
4        5   LME 321            32
5        6  DMSC 104            83
6        7  DMSC 103            83
7        8   SEM 261            49
8        9   CFA 153            68
9       10  WPEB 200            36
10      11  SEM 231C            41
11      12    MS 321            48
12      13   SEM 347            40
13      14    AB 102            93
14      15  DMSC 110           464
15      16  DMSC 102            69
16      17  DMSC 105            83

Contents of Class table:
    ClassID                           Title  Catalog Subject  Section  \
0         1              Computer Science I      135      CS     1001
1         2              Computer Science I      135      CS     1101
2         3              Computer Science I      135      CS     1102
3         4              Computer Science I      135      CS     1103
4         5              Computer Science I      135      CS     1104
5         6              Computer Science I      135      CS     1105
6         7              Computer Science I      135      CS     1106
7         8             Computer Science II      202      CS     1001
8         9             Computer Science II      202      CS     1101
9        10             Computer Science II      202      CS     1102
10       11             Computer Science II      202      CS     1103
11       12             Computer Science II      202      CS     1104
12       13             Computer Science II      202      CS     1105
13       14           Computer Organization      219      CS     1001
14       15  Digital Forensics Fundamentals      252      CS     1001
15       16                 Data Structures      302      CS     1001
16       17          Prog Lang Conc Implmnt      326      CS     1001
17       18          Prog Lang Conc Implmnt      326      CS     5801
18       19              Testing and DevOps      333      CS     1001
19       20            Math of Comp Science      365      CS     1001
20       21        Game Engine Architecture      381      CS     1001
21       22              Senior Projects Cs      426      CS     1001
22       23        Introduction to Big Data      431      CS     1001
23       24               Internet Security      445      CS     1001
24       25              Princ Comp Op Syst      446      CS     1001
25       26          Computer Systems Admin      447      CS     1001
26       27  Mobile Comp Security & Privacy      453      CS     1001
27       28          Mobile Sensor Networks      455      CS     1001
28       29          Automata & Formal Lang      456      CS     1001
29       30           Database Mgmt Systems      457      CS     1001
30       31             Anlys of Algorithms      477      CS     1001
31       32             Pattern Recognition      479      CS     1001
32       33               Computer Graphics      480      CS     1001
33       34                 Virtual Reality      484      CS     1001
34       35    Intro to Convex Optimization      486      CS     1001
35       36   Fundamentals of Deep Learning      487      CS     1001

    Enrollment_Capacity  CollegeID         Term
0                   160          1  Spring 2025
1                     0          1  Spring 2025
2                    32          1  Spring 2025
3                    32          1  Spring 2025
4                    32          1  Spring 2025
5                    32          1  Spring 2025
6                    32          1  Spring 2025
7                   160          1  Spring 2025
8                    32          1  Spring 2025
9                    32          1  Spring 2025
10                   32          1  Spring 2025
11                   32          1  Spring 2025
12                   32          1  Spring 2025
13                   80          1  Spring 2025
14                   32          1  Spring 2025
15                   81          1  Spring 2025
16                   83          1  Spring 2025
17                   40          1  Spring 2025
18                   58          1  Spring 2025
19                   83          1  Spring 2025
20                   58          1  Spring 2025
21                  160          1  Spring 2025
22                   47          1  Spring 2025
23                   30          1  Spring 2025
24                   85          1  Spring 2025
25                   32          1  Spring 2025
26                   30          1  Spring 2025
27                   30          1  Spring 2025
28                   92          1  Spring 2025
29                   91          1  Spring 2025
30                  110          1  Spring 2025
31                   15          1  Spring 2025
32                   45          1  Spring 2025
33                   38          1  Spring 2025
34                   34          1  Spring 2025
35                   43          1  Spring 2025

Contents of Instructor table:
    InstructorID InstructorFirstName InstructorLastName
0              1                Erin              Keith
1              2             Bashira        Akter Anima
2              3               Nancy        Latourrette
3              4              Mircea          Nicolescu
4              5               Diana               Moss
5              6              Joshua               Dahl
6              7                Sara              Davis
7              8               David        Feil-Seifer
8              9                 Lei               Yang
9             10              Shamik           Sengupta
10            11            Christos       Papachristos
11            12             Zachary           Estreito
12            13             William            Doherty
13            14                Hung                 La
14            15              Jordan           Hastings
15            16              Monica          Nicolescu
16            17              George              Bebis
17            18             Alireza          Tavakkoli
18            19               Eelke             Folmer

Contents of SectionInstructor table:
    SectionClassID  InstructorID
0            24638             1
1            24639             1
2            24640             1
3            24646             1
4            24654             1
5            24751             1
6            24752             1
7            24641             2
8            24642             2
9            24643             2
10           24644             2
11           24645             2
12           24714             2
13           24682             2
14           24679             3
15           24635             1
16           24672             4
17           24813             1
18           24795             1
19           24636             5
20           24695             6
21           24648             7
22           24648             8
23           24791             9
24           24680            10
25           24637            11
26           24716            12
27           24718            13
28           24789            14
29           24649             3
30           24720            15
31           24651            16
32           24785            17
33           32374            18
34           24730            19
35           32389             9
36           24767            18

Contents of Section table:
    SectionClassID ClassDays StartTime EndTime   StartDate     EndDate  \
0            24635       TBD     00:00   00:00  2025-01-01  2025-05-01
1            24636       TBD     00:00   00:00  2025-01-01  2025-05-01
2            24637       TBD     00:00   00:00  2025-01-01  2025-05-01
3            24638       TBD     00:00   00:00  2025-01-01  2025-05-01
4            24639       TBD     00:00   00:00  2025-01-01  2025-05-01
5            24640       TBD     00:00   00:00  2025-01-01  2025-05-01
6            24641       TBD     00:00   00:00  2025-01-01  2025-05-01
7            24642       TBD     00:00   00:00  2025-01-01  2025-05-01
8            24643       TBD     00:00   00:00  2025-01-01  2025-05-01
9            24644       TBD     00:00   00:00  2025-01-01  2025-05-01
10           24645       TBD     00:00   00:00  2025-01-01  2025-05-01
11           24646       TBD     00:00   00:00  2025-01-01  2025-05-01
12           24648       TBD     00:00   00:00  2025-01-01  2025-05-01
13           24649       TBD     00:00   00:00  2025-01-01  2025-05-01
14           24651       TBD     00:00   00:00  2025-01-01  2025-05-01
15           24654       TBD     00:00   00:00  2025-01-01  2025-05-01
16           24672       TBD     00:00   00:00  2025-01-01  2025-05-01
17           24679       TBD     00:00   00:00  2025-01-01  2025-05-01
18           24680       TBD     00:00   00:00  2025-01-01  2025-05-01
19           24682       TBD     00:00   00:00  2025-01-01  2025-05-01
20           24695       TBD     00:00   00:00  2025-01-01  2025-05-01
21           24714       TBD     00:00   00:00  2025-01-01  2025-05-01
22           24716       TBD     00:00   00:00  2025-01-01  2025-05-01
23           24718       TBD     00:00   00:00  2025-01-01  2025-05-01
24           24720       TBD     00:00   00:00  2025-01-01  2025-05-01
25           24730       TBD     00:00   00:00  2025-01-01  2025-05-01
26           24751       TBD     00:00   00:00  2025-01-01  2025-05-01
27           24752       TBD     00:00   00:00  2025-01-01  2025-05-01
28           24767       TBD     00:00   00:00  2025-01-01  2025-05-01
29           24785       TBD     00:00   00:00  2025-01-01  2025-05-01
30           24789       TBD     00:00   00:00  2025-01-01  2025-05-01
31           24791       TBD     00:00   00:00  2025-01-01  2025-05-01
32           24795       TBD     00:00   00:00  2025-01-01  2025-05-01
33           24813       TBD     00:00   00:00  2025-01-01  2025-05-01
34           32374       TBD     00:00   00:00  2025-01-01  2025-05-01
35           32389       TBD     00:00   00:00  2025-01-01  2025-05-01

    RoomID Component IsCombined  WaitlistCapacity  WaitlistTotal  \
0        1       LEC          0               999              0
1        1       LEC          0               999              0
2        1       LEC          1               999              0
3        1       LEC          0               999              0
4        1       LAB          0                 0              0
5        1       LAB          0               999              0
6        1       LEC          0               999              1
7        1       LAB          0               999              0
8        1       LAB          0               999              0
9        1       LAB          0               999              0
10       1       LAB          0               999              0
11       1       LAB          0               999              0
12       1       LEC          0               999              0
13       1       LEC          1               999              4
14       1       LEC          1               999              0
15       1       LAB          0               999              1
16       1       LEC          0               999              0
17       1       LEC          0               999              6
18       1       LEC          1               999              3
19       1       LEC          0               999              0
20       1       LEC          0               999              6
21       1       LAB          0               999              1
22       1       LEC          1               999              1
23       1       LEC          1               999              1
24       1       LEC          1               999              0
25       1       LEC          1               999              0
26       1       LAB          0               999              0
27       1       LAB          0               999              0
28       1       LEC          1               999              0
29       1       LEC          1               999              0
30       1       LEC          1               999              0
31       1       LEC          1               999              0
32       1       LEC          0               999              2
33       1       LEC          0               999              0
34       1       LEC          1               999              0
35       1       LEC          1               999              0

    ProgressUnit StatusID Session InstructionMode
0              3        A       1               P
1              3        A       1               P
2              3        A       1               P
3              3        A       1               P
4              3        A       1               P
5              3        A       1               P
6              3        A       1               P
7              3        A       1               P
8              3        A       1               P
9              3        A       1               P
10             3        A       1               P
11             3        A       1               P
12             3        A       1               P
13             3        A       1               P
14             3        A       1               P
15             3        A       1               P
16             3        A       1               P
17             3        A       1               P
18             3        A       1               P
19             3        A       1               P
20             3        A       1               P
21             3        A       1               P
22             3        A       1               P
23             3        A       1               P
24             3        A       1               P
25             3        A       1               P
26             3        A       1               P
27             3        A       1               P
28             3        A       1               P
29             3        A       1               P
30             3        A       1               P
31             3        A       1               P
32             3        A       1               P
33             3        A     WIN               P
34             3        A       1               P
35             3        A       1               P