In [38]:
import pandas as pd
import numpy as np
import sqlite3

pd.set_option('display.max_columns', None)

# Load data
data = pd.read_excel('sample ClassSched-CS-S25.xlsx', header=1)

# Connect to DB early to allow deduplication (prevent every rerun to always dupe the data)
conn = sqlite3.connect('ClassSchedule.db')

print(data)

   College Acad Org Subject  Catalog  Section                           Title  \
0     ENGR    R1260      CS      135     1001              Computer Science I
1     ENGR    R1260      CS      135     1101              Computer Science I
2     ENGR    R1260      CS      135     1102              Computer Science I
3     ENGR    R1260      CS      135     1103              Computer Science I
4     ENGR    R1260      CS      135     1104              Computer Science I
5     ENGR    R1260      CS      135     1105              Computer Science I
6     ENGR    R1260      CS      135     1106              Computer Science I
7     ENGR    R1260      CS      202     1001             Computer Science II
8     ENGR    R1260      CS      202     1101             Computer Science II
9     ENGR    R1260      CS      202     1102             Computer Science II
10    ENGR    R1260      CS      202     1103             Computer Science II
11    ENGR    R1260      CS      202     1104             Computer Science II
12    ENGR    R1260      CS      202     1105             Computer Science II
13    ENGR    R1260      CS      219     1001           Computer Organization
14    ENGR    R1260      CS      252     1001  Digital Forensics Fundamentals
15    ENGR    R1260      CS      302     1001                 Data Structures
16    ENGR    R1260      CS      326     1001          Prog Lang Conc Implmnt
17    ENGR    R1260      CS      326     5801          Prog Lang Conc Implmnt
18    ENGR    R1260      CS      333     1001              Testing and DevOps
19    ENGR    R1260      CS      365     1001            Math of Comp Science
20    ENGR    R1260      CS      381     1001        Game Engine Architecture
21    ENGR    R1260      CS      426     1001              Senior Projects Cs
22    ENGR    R1260      CS      426     1001              Senior Projects Cs
23    ENGR    R1260      CS      431     1001        Introduction to Big Data
24    ENGR    R1260      CS      445     1001               Internet Security
25    ENGR    R1260      CS      446     1001              Princ Comp Op Syst
26    ENGR    R1260      CS      447     1001          Computer Systems Admin
27    ENGR    R1260      CS      453     1001  Mobile Comp Security & Privacy
28    ENGR    R1260      CS      455     1001          Mobile Sensor Networks
29    ENGR    R1260      CS      456     1001          Automata & Formal Lang
30    ENGR    R1260      CS      457     1001           Database Mgmt Systems
31    ENGR    R1260      CS      477     1001             Anlys of Algorithms
32    ENGR    R1260      CS      479     1001             Pattern Recognition
33    ENGR    R1260      CS      480     1001               Computer Graphics
34    ENGR    R1260      CS      484     1001                 Virtual Reality
35    ENGR    R1260      CS      486     1001    Intro to Convex Optimization
36    ENGR    R1260      CS      487     1001   Fundamentals of Deep Learning

   Component Session  Class Nbr Instruction Mode Class Days  Class Start Time  \
0        LEC       1      24638                P         TR              12.0
1        LAB       1      24639                P          M               8.0
2        LAB       1      24640                P          M               9.0
3        LAB       1      24646                P          M              10.0
4        LAB       1      24654                P          M              11.0
5        LAB       1      24751                P          M              12.0
6        LAB       1      24752                P          M              13.0
7        LEC       1      24641                P         TR              12.0
8        LAB       1      24642                P          W               8.0
9        LAB       1      24643                P          W               9.0
10       LAB       1      24644                P          W              10.0
11       LAB       1      24645                P          W              11.0
12       LAB       1      24714                P          W              12.0
13       LEC       1      24682                P         TR               9.0
14       LEC       1      24679                P         TR              10.3
15       LEC       1      24635                P         MW              13.0
16       LEC       1      24672                P         TR               9.0
17       LEC     WIN      24813                P      MTWRF              10.0
18       LEC       1      24795                P          T              15.0
19       LEC       1      24636                P          F              13.0
20       LEC       1      24695                P         MW              14.3
21       LEC       1      24648                P         TR              10.3
22       LEC       1      24648                P         TR              10.3
23       LEC       1      24791                P         TR              13.3
24       LEC       1      24680                P         MW              11.3
25       LEC       1      24637                P         TR              15.0
26       LEC       1      24716                P         MW              16.0
27       LEC       1      24718                P         TR              15.0
28       LEC       1      24789                P         TR               9.0
29       LEC       1      24649                P         TR              12.0
30       LEC       1      24720                P         MW              13.0
31       LEC       1      24651                P         TR              13.3
32       LEC       1      24785                P         MW              14.3
33       LEC       1      32374                P         MW              17.3
34       LEC       1      24730                P         TR              12.0
35       LEC       1      32389                P         TR              16.3
36       LEC       1      24767                P         MW              14.3

    Class End Time Start Date   End Date      Room Instructor Last Name  \
0            13.15 2025-01-21 2025-05-06   SEM 101                Keith
1             8.50 2025-01-21 2025-05-06  WPEB 100                Keith
2             9.50 2025-01-21 2025-05-06  WPEB 100                Keith
3            10.50 2025-01-21 2025-05-06  WPEB 100                Keith
4            11.50 2025-01-21 2025-05-06  WPEB 100                Keith
5            12.50 2025-01-21 2025-05-06  WPEB 100                Keith
6            13.50 2025-01-21 2025-05-06  WPEB 100                Keith
7            13.15 2025-01-21 2025-05-06  WPEB 130          Akter Anima
8             8.50 2025-01-21 2025-05-06  WPEB 100          Akter Anima
9             9.50 2025-01-21 2025-05-06  WPEB 100          Akter Anima
10           10.50 2025-01-21 2025-05-06  WPEB 100          Akter Anima
11           11.50 2025-01-21 2025-05-06  WPEB 100          Akter Anima
12           12.50 2025-01-21 2025-05-06  WPEB 100          Akter Anima
13           10.15 2025-01-21 2025-05-06   SEM 234          Akter Anima
14           11.45 2025-01-21 2025-05-06   LME 321          Latourrette
15           14.15 2025-01-21 2025-05-06  DMSC 104                Keith
16           10.15 2025-01-21 2025-05-06  DMSC 103            Nicolescu
17           13.00 2024-12-30 2025-01-17   SEM 261                Keith
18           17.45 2025-01-21 2025-05-06  WPEB 100                Keith
19           15.45 2025-01-21 2025-05-06  WPEB 130                 Moss
20           15.45 2025-01-21 2025-05-06  WPEB 100                 Dahl
21           11.45 2025-01-21 2025-05-06  WPEB 130                Davis
22           11.45 2025-01-21 2025-05-06  WPEB 130          Feil-Seifer
23           14.45 2025-01-21 2025-05-06   CFA 153                 Yang
24           12.45 2025-01-21 2025-05-06  WPEB 200             Sengupta
25           16.15 2025-01-21 2025-05-06  WPEB 130         Papachristos
26           17.15 2025-01-21 2025-05-06  SEM 231C             Estreito
27           16.15 2025-01-21 2025-05-06    MS 321              Doherty
28           10.15 2025-01-21 2025-05-06   SEM 347                   La
29           13.15 2025-01-21 2025-05-06    AB 102          Latourrette
30           14.15 2025-01-21 2025-05-06  WPEB 130             Hastings
31           14.45 2025-01-21 2025-05-06  DMSC 110            Nicolescu
32           15.45 2025-01-21 2025-05-06  WPEB 200                Bebis
33           18.45 2025-01-21 2025-05-06  DMSC 102            Tavakkoli
34           13.15 2025-01-21 2025-05-06  DMSC 105               Folmer
35           17.45 2025-01-21 2025-05-06  DMSC 103                 Yang
36           15.45 2025-01-21 2025-05-06  DMSC 102            Tavakkoli

   Instructor First Name  Room Capacity  Enrollment Capacity  \
0                   Erin            254                  160
1                   Erin             58                    0
2                   Erin             58                   32
3                   Erin             58                   32
4                   Erin             58                   32
5                   Erin             58                   32
6                   Erin             58                   32
7                Bashira            210                  160
8                Bashira             58                   32
9                Bashira             58                   32
10               Bashira             58                   32
11               Bashira             58                   32
12               Bashira             58                   32
13               Bashira             70                   80
14                 Nancy             32                   32
15                  Erin             83                   81
16                Mircea             83                   83
17                  Erin             49                   40
18                  Erin             58                   58
19                 Diana            210                   83
20                Joshua             58                   58
21                  Sara            210                  160
22                 David            210                  160
23                   Lei             68                   47
24                Shamik             36                   30
25              Christos            210                   85
26               Zachary             41                   32
27               William             48                   30
28                  Hung             40                   30
29                 Nancy             93                   92
30                Jordan            210                   91
31                Monica            464                  110
32                George             36                   15
33               Alireza             69                   45
34                 Eelke             83                   38
35                   Lei             83                   34
36               Alireza             69                   43

    Current Enrollment  Waitlist Capacity  Waitlist Total Combined?  \
0                  157                999               0        No
1                    0                  0               0        No
2                   31                999               0        No
3                   32                999               0        No
4                   31                999               1        No
5                   31                999               0        No
6                   32                999               0        No
7                  111                999               1        No
8                    9                999               0        No
9                   15                999               0        No
10                  23                999               0        No
11                  32                999               0        No
12                  32                999               1        No
13                  56                999               0        No
14                  32                999               6        No
15                  59                999               0        No
16                  72                999               0        No
17                  24                999               0        No
18                  58                999               2        No
19                  60                999               0        No
20                  58                999               6        No
21                 143                999               0        No
22                 143                999               0        No
23                  45                999               0       Yes
24                  30                999               3       Yes
25                  83                999               0       Yes
26                  32                999               1       Yes
27                  30                999               1       Yes
28                  23                999               0       Yes
29                  92                999               4       Yes
30                  91                999               0       Yes
31                  76                999               0       Yes
32                  12                999               0       Yes
33                  32                999               0       Yes
34                  38                999               0       Yes
35                   5                999               0       Yes
36                  38                999               0       Yes

   Class Stat  Prgrss Unt  Acad Group
0           A           3         140
1           A           3         140
2           A           3         140
3           A           3         140
4           A           3         140
5           A           3         140
6           A           3         140
7           A           3         140
8           A           3         140
9           A           3         140
10          A           3         140
11          A           3         140
12          A           3         140
13          A           3         140
14          A           3         140
15          A           3         140
16          A           3         140
17          A           3         140
18          A           3         140
19          A           3         140
20          A           3         140
21          A           3         140
22          A           3         140
23          A           3         140
24          A           3         140
25          A           3         140
26          A           3         140
27          A           3         140
28          A           3         140
29          A           3         140
30          A           3         140
31          A           3         140
32          A           3         140
33          A           3         140
34          A           3         140
35          A           3         140
36          A           3         140

In [39]:
# --- COLLEGE ---
college_df = data[['College']].drop_duplicates().rename(columns={'College': 'CollegeName'})
existing_colleges = pd.read_sql("SELECT CollegeName FROM College;", conn)
college_df = college_df[~college_df['CollegeName'].isin(existing_colleges['CollegeName'])]
college_df['CollegeID'] = range(1, len(college_df) + 1)

In [40]:
# --- INSTRUCTOR ---
instructor_df = data[['Instructor First Name', 'Instructor Last Name']].drop_duplicates().rename(columns={
    'Instructor First Name': 'InstructorFirstName',
    'Instructor Last Name': 'InstructorLastName'
})
existing_instructors = pd.read_sql("SELECT InstructorFirstName, InstructorLastName FROM Instructor;", conn)
instructor_df = instructor_df.merge(existing_instructors, on=['InstructorFirstName', 'InstructorLastName'], how='left', indicator=True)
instructor_df = instructor_df[instructor_df['_merge'] == 'left_only'].drop(columns=['_merge'])
instructor_df['InstructorID'] = range(1, len(instructor_df) + 1)

In [41]:
# --- ROOM ---
room_df = data[['Room', 'Room Capacity']].drop_duplicates().rename(columns={
    'Room': 'RoomNo',
    'Room Capacity': 'RoomCapacity'
})
existing_rooms = pd.read_sql("SELECT RoomNo, RoomCapacity FROM Room;", conn)
room_df = room_df.merge(existing_rooms, on=['RoomNo', 'RoomCapacity'], how='left', indicator=True)
room_df = room_df[room_df['_merge'] == 'left_only'].drop(columns=['_merge'])
room_df['RoomID'] = range(1, len(room_df) + 1)

In [42]:
# --- STATUS ---
status_df = data[['Class Stat']].drop_duplicates().rename(columns={'Class Stat': 'StatusCode'})
existing_statuses = pd.read_sql("SELECT StatusCode FROM Status;", conn)
status_df = status_df[~status_df['StatusCode'].isin(existing_statuses['StatusCode'])]
status_df['StatusID'] = range(1, len(status_df) + 1)

In [43]:
# --- CLASS ---
class_df = data[['Title', 'Catalog', 'Subject', 'Section', 'Enrollment Capacity', 'College']].drop_duplicates()
class_df = class_df.rename(columns={'Enrollment Capacity': 'Enrollment_Capacity'})

# Get existing College IDs
college_ids = pd.read_sql("SELECT * FROM College;", conn)
class_df = class_df.merge(college_ids, left_on='College', right_on='CollegeName', how='left')
class_df.drop(columns=['College', 'CollegeName'], inplace=True)

class_df['Term'] = 'Spring 2025'
class_df = class_df[['Title', 'Catalog', 'Subject', 'Section', 'Enrollment_Capacity', 'CollegeID', 'Term']]

existing_class = pd.read_sql("SELECT Title, Catalog, Subject, Section, Term FROM Class;", conn)
class_df = class_df.merge(existing_class, on=['Title', 'Catalog', 'Subject', 'Section', 'Term'], how='left', indicator=True)
class_df = class_df[class_df['_merge'] == 'left_only'].drop(columns=['_merge'])

In [44]:
# --- SECTION ---
section_df = data[['Class Nbr', 'Component', 'Combined?', 'Waitlist Capacity',
                   'Waitlist Total', 'Prgrss Unt', 'Class Stat', 'Session', 'Instruction Mode',
                   'Class Days', 'Class Start Time', 'Class End Time', 'Start Date', 'End Date']].drop_duplicates().copy()

section_df.rename(columns={
    'Class Nbr': 'SectionClassID',
    'Component': 'Component',
    'Combined?': 'IsCombined',
    'Waitlist Capacity': 'WaitlistCapacity',
    'Waitlist Total': 'WaitlistTotal',
    'Prgrss Unt': 'ProgressUnit',
    'Class Stat': 'StatusID',
    'Session': 'Session',
    'Instruction Mode': 'InstructionMode',
    'Class Days': 'ClassDays',
    'Class Start Time': 'StartTime',
    'Class End Time': 'EndTime',
    'Start Date': 'StartDate',
    'End Date': 'EndDate'
}, inplace=True)

section_df['IsCombined'] = section_df['IsCombined'].map({'Yes': True, 'No': False})

def decimal_to_time_string(decimal_time):
    if pd.isnull(decimal_time):
        return None
    hours = int(decimal_time)
    minutes = round((decimal_time - hours) * 60)
    return f"{hours:02d}:{minutes:02d}"

section_df['StartTime'] = section_df['StartTime'].apply(decimal_to_time_string)
section_df['EndTime'] = section_df['EndTime'].apply(decimal_to_time_string)

section_df['StartDate'] = pd.to_datetime(section_df['StartDate'], errors='coerce').dt.date.astype(str)
section_df['EndDate'] = pd.to_datetime(section_df['EndDate'], errors='coerce').dt.date.astype(str)

# Placeholder RoomID for now â€” replace if real room mapping exists
section_df['RoomID'] = 1

# Reorder to match schema
section_df = section_df[['SectionClassID', 'ClassDays', 'StartTime', 'EndTime', 'StartDate', 'EndDate',
                         'RoomID', 'Component', 'IsCombined', 'WaitlistCapacity', 'WaitlistTotal',
                         'ProgressUnit', 'StatusID', 'Session', 'InstructionMode']]

# Deduplicate against DB
existing_section_ids = pd.read_sql("SELECT SectionClassID FROM Section;", conn)
section_df = section_df[~section_df['SectionClassID'].isin(existing_section_ids['SectionClassID'])]

In [45]:
# --- SECTION INSTRUCTOR ---
data['InstructorFullName'] = data['Instructor First Name'].str.strip() + ' ' + data['Instructor Last Name'].str.strip()
instructors = data[['InstructorFullName']].drop_duplicates().reset_index(drop=True)
instructors['InstructorID'] = instructors.index + 1

data = data.merge(instructors, on='InstructorFullName', how='left')
data['SectionClassID'] = data['Class Nbr']
section_instructor = data[['SectionClassID', 'InstructorID']].drop_duplicates()

existing_section_instructor = pd.read_sql("SELECT SectionClassID, InstructorID FROM SectionInstructor;", conn)
section_instructor = section_instructor.merge(existing_section_instructor, on=['SectionClassID', 'InstructorID'], how='left', indicator=True)
section_instructor = section_instructor[section_instructor['_merge'] == 'left_only'].drop(columns=['_merge'])

In [46]:
# --- SAVE TO DATABASE ---
college_df.to_sql('College', conn, if_exists='append', index=False)
instructor_df.to_sql('Instructor', conn, if_exists='append', index=False)
room_df.to_sql('Room', conn, if_exists='append', index=False)
status_df.to_sql('Status', conn, if_exists='append', index=False)
class_df.to_sql('Class', conn, if_exists='append', index=False)
section_df.to_sql('Section', conn, if_exists='append', index=False)
section_instructor.to_sql('SectionInstructor', conn, if_exists='append', index=False)

# Print contents of each table
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

for table_name in tables['name']:
    print(f"\nContents of {table_name} table:")
    table_data = pd.read_sql(f"SELECT * FROM {table_name};", conn)
    print(table_data)

conn.close()

Contents of College table:
   CollegeID CollegeName
0          1        ENGR

Contents of sqlite_sequence table:
         name    seq
0     College      1
1  Instructor     19
2        Room     17
3      Status      1
4       Class     36
5     Section  32389

Contents of Status table:
   StatusID StatusCode
0         1          A

Contents of Room table:
    RoomID    RoomNo  RoomCapacity
0        1   SEM 101           254
1        2  WPEB 100            58
2        3  WPEB 130           210
3        4   SEM 234            70
4        5   LME 321            32
5        6  DMSC 104            83
6        7  DMSC 103            83
7        8   SEM 261            49
8        9   CFA 153            68
9       10  WPEB 200            36
10      11  SEM 231C            41
11      12    MS 321            48
12      13   SEM 347            40
13      14    AB 102            93
14      15  DMSC 110           464
15      16  DMSC 102            69
16      17  DMSC 105            83

Contents of Class table:
    ClassID                           Title  Catalog Subject  Section  \
0         1              Computer Science I      135      CS     1001
1         2              Computer Science I      135      CS     1101
2         3              Computer Science I      135      CS     1102
3         4              Computer Science I      135      CS     1103
4         5              Computer Science I      135      CS     1104
5         6              Computer Science I      135      CS     1105
6         7              Computer Science I      135      CS     1106
7         8             Computer Science II      202      CS     1001
8         9             Computer Science II      202      CS     1101
9        10             Computer Science II      202      CS     1102
10       11             Computer Science II      202      CS     1103
11       12             Computer Science II      202      CS     1104
12       13             Computer Science II      202      CS     1105
13       14           Computer Organization      219      CS     1001
14       15  Digital Forensics Fundamentals      252      CS     1001
15       16                 Data Structures      302      CS     1001
16       17          Prog Lang Conc Implmnt      326      CS     1001
17       18          Prog Lang Conc Implmnt      326      CS     5801
18       19              Testing and DevOps      333      CS     1001
19       20            Math of Comp Science      365      CS     1001
20       21        Game Engine Architecture      381      CS     1001
21       22              Senior Projects Cs      426      CS     1001
22       23        Introduction to Big Data      431      CS     1001
23       24               Internet Security      445      CS     1001
24       25              Princ Comp Op Syst      446      CS     1001
25       26          Computer Systems Admin      447      CS     1001
26       27  Mobile Comp Security & Privacy      453      CS     1001
27       28          Mobile Sensor Networks      455      CS     1001
28       29          Automata & Formal Lang      456      CS     1001
29       30           Database Mgmt Systems      457      CS     1001
30       31             Anlys of Algorithms      477      CS     1001
31       32             Pattern Recognition      479      CS     1001
32       33               Computer Graphics      480      CS     1001
33       34                 Virtual Reality      484      CS     1001
34       35    Intro to Convex Optimization      486      CS     1001
35       36   Fundamentals of Deep Learning      487      CS     1001

    Enrollment_Capacity CollegeID         Term
0                   160      None  Spring 2025
1                     0      None  Spring 2025
2                    32      None  Spring 2025
3                    32      None  Spring 2025
4                    32      None  Spring 2025
5                    32      None  Spring 2025
6                    32      None  Spring 2025
7                   160      None  Spring 2025
8                    32      None  Spring 2025
9                    32      None  Spring 2025
10                   32      None  Spring 2025
11                   32      None  Spring 2025
12                   32      None  Spring 2025
13                   80      None  Spring 2025
14                   32      None  Spring 2025
15                   81      None  Spring 2025
16                   83      None  Spring 2025
17                   40      None  Spring 2025
18                   58      None  Spring 2025
19                   83      None  Spring 2025
20                   58      None  Spring 2025
21                  160      None  Spring 2025
22                   47      None  Spring 2025
23                   30      None  Spring 2025
24                   85      None  Spring 2025
25                   32      None  Spring 2025
26                   30      None  Spring 2025
27                   30      None  Spring 2025
28                   92      None  Spring 2025
29                   91      None  Spring 2025
30                  110      None  Spring 2025
31                   15      None  Spring 2025
32                   45      None  Spring 2025
33                   38      None  Spring 2025
34                   34      None  Spring 2025
35                   43      None  Spring 2025

Contents of Instructor table:
    InstructorID InstructorFirstName InstructorLastName
0              1                Erin              Keith
1              2             Bashira        Akter Anima
2              3               Nancy        Latourrette
3              4              Mircea          Nicolescu
4              5               Diana               Moss
5              6              Joshua               Dahl
6              7                Sara              Davis
7              8               David        Feil-Seifer
8              9                 Lei               Yang
9             10              Shamik           Sengupta
10            11            Christos       Papachristos
11            12             Zachary           Estreito
12            13             William            Doherty
13            14                Hung                 La
14            15              Jordan           Hastings
15            16              Monica          Nicolescu
16            17              George              Bebis
17            18             Alireza          Tavakkoli
18            19               Eelke             Folmer

Contents of SectionInstructor table:
    SectionClassID  InstructorID
0            24638             1
1            24639             1
2            24640             1
3            24646             1
4            24654             1
5            24751             1
6            24752             1
7            24641             2
8            24642             2
9            24643             2
10           24644             2
11           24645             2
12           24714             2
13           24682             2
14           24679             3
15           24635             1
16           24672             4
17           24813             1
18           24795             1
19           24636             5
20           24695             6
21           24648             7
22           24648             8
23           24791             9
24           24680            10
25           24637            11
26           24716            12
27           24718            13
28           24789            14
29           24649             3
30           24720            15
31           24651            16
32           24785            17
33           32374            18
34           24730            19
35           32389             9
36           24767            18

Contents of Section table:
    SectionClassID ClassDays StartTime EndTime   StartDate     EndDate  \
0            24635        MW     13:00   14:09  2025-01-21  2025-05-06
1            24636         F     13:00   15:27  2025-01-21  2025-05-06
2            24637        TR     15:00   16:09  2025-01-21  2025-05-06
3            24638        TR     12:00   13:09  2025-01-21  2025-05-06
4            24639         M     08:00   08:30  2025-01-21  2025-05-06
5            24640         M     09:00   09:30  2025-01-21  2025-05-06
6            24641        TR     12:00   13:09  2025-01-21  2025-05-06
7            24642         W     08:00   08:30  2025-01-21  2025-05-06
8            24643         W     09:00   09:30  2025-01-21  2025-05-06
9            24644         W     10:00   10:30  2025-01-21  2025-05-06
10           24645         W     11:00   11:30  2025-01-21  2025-05-06
11           24646         M     10:00   10:30  2025-01-21  2025-05-06
12           24648        TR     10:18   11:27  2025-01-21  2025-05-06
13           24649        TR     12:00   13:09  2025-01-21  2025-05-06
14           24651        TR     13:18   14:27  2025-01-21  2025-05-06
15           24654         M     11:00   11:30  2025-01-21  2025-05-06
16           24672        TR     09:00   10:09  2025-01-21  2025-05-06
17           24679        TR     10:18   11:27  2025-01-21  2025-05-06
18           24680        MW     11:18   12:27  2025-01-21  2025-05-06
19           24682        TR     09:00   10:09  2025-01-21  2025-05-06
20           24695        MW     14:18   15:27  2025-01-21  2025-05-06
21           24714         W     12:00   12:30  2025-01-21  2025-05-06
22           24716        MW     16:00   17:09  2025-01-21  2025-05-06
23           24718        TR     15:00   16:09  2025-01-21  2025-05-06
24           24720        MW     13:00   14:09  2025-01-21  2025-05-06
25           24730        TR     12:00   13:09  2025-01-21  2025-05-06
26           24751         M     12:00   12:30  2025-01-21  2025-05-06
27           24752         M     13:00   13:30  2025-01-21  2025-05-06
28           24767        MW     14:18   15:27  2025-01-21  2025-05-06
29           24785        MW     14:18   15:27  2025-01-21  2025-05-06
30           24789        TR     09:00   10:09  2025-01-21  2025-05-06
31           24791        TR     13:18   14:27  2025-01-21  2025-05-06
32           24795         T     15:00   17:27  2025-01-21  2025-05-06
33           24813     MTWRF     10:00   13:00  2024-12-30  2025-01-17
34           32374        MW     17:18   18:27  2025-01-21  2025-05-06
35           32389        TR     16:18   17:27  2025-01-21  2025-05-06

    RoomID Component IsCombined  WaitlistCapacity  WaitlistTotal  \
0        1       LEC          0               999              0
1        1       LEC          0               999              0
2        1       LEC          1               999              0
3        1       LEC          0               999              0
4        1       LAB          0                 0              0
5        1       LAB          0               999              0
6        1       LEC          0               999              1
7        1       LAB          0               999              0
8        1       LAB          0               999              0
9        1       LAB          0               999              0
10       1       LAB          0               999              0
11       1       LAB          0               999              0
12       1       LEC          0               999              0
13       1       LEC          1               999              4
14       1       LEC          1               999              0
15       1       LAB          0               999              1
16       1       LEC          0               999              0
17       1       LEC          0               999              6
18       1       LEC          1               999              3
19       1       LEC          0               999              0
20       1       LEC          0               999              6
21       1       LAB          0               999              1
22       1       LEC          1               999              1
23       1       LEC          1               999              1
24       1       LEC          1               999              0
25       1       LEC          1               999              0
26       1       LAB          0               999              0
27       1       LAB          0               999              0
28       1       LEC          1               999              0
29       1       LEC          1               999              0
30       1       LEC          1               999              0
31       1       LEC          1               999              0
32       1       LEC          0               999              2
33       1       LEC          0               999              0
34       1       LEC          1               999              0
35       1       LEC          1               999              0

    ProgressUnit StatusID Session InstructionMode
0              3        A       1               P
1              3        A       1               P
2              3        A       1               P
3              3        A       1               P
4              3        A       1               P
5              3        A       1               P
6              3        A       1               P
7              3        A       1               P
8              3        A       1               P
9              3        A       1               P
10             3        A       1               P
11             3        A       1               P
12             3        A       1               P
13             3        A       1               P
14             3        A       1               P
15             3        A       1               P
16             3        A       1               P
17             3        A       1               P
18             3        A       1               P
19             3        A       1               P
20             3        A       1               P
21             3        A       1               P
22             3        A       1               P
23             3        A       1               P
24             3        A       1               P
25             3        A       1               P
26             3        A       1               P
27             3        A       1               P
28             3        A       1               P
29             3        A       1               P
30             3        A       1               P
31             3        A       1               P
32             3        A       1               P
33             3        A     WIN               P
34             3        A       1               P
35             3        A       1               P