In [2]:
import pandas as pd
import numpy as np
import uuid

#extracts data from excel file into a pandas dataframe 
data = pd.read_excel('sample ClassSched-CS-S25.xlsx', header=1)

#lool at the data
print(data)

   College Acad Org Subject  Catalog  Section                           Title  \
0     ENGR    R1260      CS      135     1001              Computer Science I
1     ENGR    R1260      CS      135     1101              Computer Science I
2     ENGR    R1260      CS      135     1102              Computer Science I
3     ENGR    R1260      CS      135     1103              Computer Science I
4     ENGR    R1260      CS      135     1104              Computer Science I
5     ENGR    R1260      CS      135     1105              Computer Science I
6     ENGR    R1260      CS      135     1106              Computer Science I
7     ENGR    R1260      CS      202     1001             Computer Science II
8     ENGR    R1260      CS      202     1101             Computer Science II
9     ENGR    R1260      CS      202     1102             Computer Science II
10    ENGR    R1260      CS      202     1103             Computer Science II
11    ENGR    R1260      CS      202     1104             Computer Science II
12    ENGR    R1260      CS      202     1105             Computer Science II
13    ENGR    R1260      CS      219     1001           Computer Organization
14    ENGR    R1260      CS      252     1001  Digital Forensics Fundamentals
15    ENGR    R1260      CS      302     1001                 Data Structures
16    ENGR    R1260      CS      326     1001          Prog Lang Conc Implmnt
17    ENGR    R1260      CS      326     5801          Prog Lang Conc Implmnt
18    ENGR    R1260      CS      333     1001              Testing and DevOps
19    ENGR    R1260      CS      365     1001            Math of Comp Science
20    ENGR    R1260      CS      381     1001        Game Engine Architecture
21    ENGR    R1260      CS      426     1001              Senior Projects Cs
22    ENGR    R1260      CS      426     1001              Senior Projects Cs
23    ENGR    R1260      CS      431     1001        Introduction to Big Data
24    ENGR    R1260      CS      445     1001               Internet Security
25    ENGR    R1260      CS      446     1001              Princ Comp Op Syst
26    ENGR    R1260      CS      447     1001          Computer Systems Admin
27    ENGR    R1260      CS      453     1001  Mobile Comp Security & Privacy
28    ENGR    R1260      CS      455     1001          Mobile Sensor Networks
29    ENGR    R1260      CS      456     1001          Automata & Formal Lang
30    ENGR    R1260      CS      457     1001           Database Mgmt Systems
31    ENGR    R1260      CS      477     1001             Anlys of Algorithms
32    ENGR    R1260      CS      479     1001             Pattern Recognition
33    ENGR    R1260      CS      480     1001               Computer Graphics
34    ENGR    R1260      CS      484     1001                 Virtual Reality
35    ENGR    R1260      CS      486     1001    Intro to Convex Optimization
36    ENGR    R1260      CS      487     1001   Fundamentals of Deep Learning

   Component Session  Class Nbr Instruction Mode  ... Instructor First Name  \
0        LEC       1      24638                P  ...                  Erin
1        LAB       1      24639                P  ...                  Erin
2        LAB       1      24640                P  ...                  Erin
3        LAB       1      24646                P  ...                  Erin
4        LAB       1      24654                P  ...                  Erin
5        LAB       1      24751                P  ...                  Erin
6        LAB       1      24752                P  ...                  Erin
7        LEC       1      24641                P  ...               Bashira
8        LAB       1      24642                P  ...               Bashira
9        LAB       1      24643                P  ...               Bashira
10       LAB       1      24644                P  ...               Bashira
11       LAB       1      24645                P  ...               Bashira
12       LAB       1      24714                P  ...               Bashira
13       LEC       1      24682                P  ...               Bashira
14       LEC       1      24679                P  ...                 Nancy
15       LEC       1      24635                P  ...                  Erin
16       LEC       1      24672                P  ...                Mircea
17       LEC     WIN      24813                P  ...                  Erin
18       LEC       1      24795                P  ...                  Erin
19       LEC       1      24636                P  ...                 Diana
20       LEC       1      24695                P  ...                Joshua
21       LEC       1      24648                P  ...                  Sara
22       LEC       1      24648                P  ...                 David
23       LEC       1      24791                P  ...                   Lei
24       LEC       1      24680                P  ...                Shamik
25       LEC       1      24637                P  ...              Christos
26       LEC       1      24716                P  ...               Zachary
27       LEC       1      24718                P  ...               William
28       LEC       1      24789                P  ...                  Hung
29       LEC       1      24649                P  ...                 Nancy
30       LEC       1      24720                P  ...                Jordan
31       LEC       1      24651                P  ...                Monica
32       LEC       1      24785                P  ...                George
33       LEC       1      32374                P  ...               Alireza
34       LEC       1      24730                P  ...                 Eelke
35       LEC       1      32389                P  ...                   Lei
36       LEC       1      24767                P  ...               Alireza

    Room Capacity  Enrollment Capacity Current Enrollment Waitlist Capacity  \
0             254                  160                157               999
1              58                    0                  0                 0
2              58                   32                 31               999
3              58                   32                 32               999
4              58                   32                 31               999
5              58                   32                 31               999
6              58                   32                 32               999
7             210                  160                111               999
8              58                   32                  9               999
9              58                   32                 15               999
10             58                   32                 23               999
11             58                   32                 32               999
12             58                   32                 32               999
13             70                   80                 56               999
14             32                   32                 32               999
15             83                   81                 59               999
16             83                   83                 72               999
17             49                   40                 24               999
18             58                   58                 58               999
19            210                   83                 60               999
20             58                   58                 58               999
21            210                  160                143               999
22            210                  160                143               999
23             68                   47                 45               999
24             36                   30                 30               999
25            210                   85                 83               999
26             41                   32                 32               999
27             48                   30                 30               999
28             40                   30                 23               999
29             93                   92                 92               999
30            210                   91                 91               999
31            464                  110                 76               999
32             36                   15                 12               999
33             69                   45                 32               999
34             83                   38                 38               999
35             83                   34                  5               999
36             69                   43                 38               999

   Waitlist Total Combined? Class Stat  Prgrss Unt  Acad Group
0               0        No          A           3         140
1               0        No          A           3         140
2               0        No          A           3         140
3               0        No          A           3         140
4               1        No          A           3         140
5               0        No          A           3         140
6               0        No          A           3         140
7               1        No          A           3         140
8               0        No          A           3         140
9               0        No          A           3         140
10              0        No          A           3         140
11              0        No          A           3         140
12              1        No          A           3         140
13              0        No          A           3         140
14              6        No          A           3         140
15              0        No          A           3         140
16              0        No          A           3         140
17              0        No          A           3         140
18              2        No          A           3         140
19              0        No          A           3         140
20              6        No          A           3         140
21              0        No          A           3         140
22              0        No          A           3         140
23              0       Yes          A           3         140
24              3       Yes          A           3         140
25              0       Yes          A           3         140
26              1       Yes          A           3         140
27              1       Yes          A           3         140
28              0       Yes          A           3         140
29              4       Yes          A           3         140
30              0       Yes          A           3         140
31              0       Yes          A           3         140
32              0       Yes          A           3         140
33              0       Yes          A           3         140
34              0       Yes          A           3         140
35              0       Yes          A           3         140
36              0       Yes          A           3         140

[37 rows x 27 columns]

In [3]:
#populates dataframe for college_df, creating unique id for each row
college_df = data[['College']].drop_duplicates().rename(columns={'College': 'CollegeName'})
college_df['CollegeID'] = range(1, len(college_df) + 1)
print(college_df)

  CollegeName  CollegeID
0        ENGR          1

In [4]:

#populates dataframe for instructor_df, creating unique id for each row
instructor_df = data[['Instructor First Name', 'Instructor Last Name']].drop_duplicates().rename(columns={
                                                                                                'Instructor First Name': 'InstructorFirstName', 
                                                                                                'Instructor Last Name': 'InstructorLastName'})
instructor_df['InstructorID'] = range(1, len(instructor_df) + 1)

print(instructor_df)

   InstructorFirstName InstructorLastName  InstructorID
0                 Erin              Keith             1
7              Bashira        Akter Anima             2
14               Nancy        Latourrette             3
16              Mircea          Nicolescu             4
19               Diana               Moss             5
20              Joshua               Dahl             6
21                Sara              Davis             7
22               David        Feil-Seifer             8
23                 Lei               Yang             9
24              Shamik           Sengupta            10
25            Christos       Papachristos            11
26             Zachary           Estreito            12
27             William            Doherty            13
28                Hung                 La            14
30              Jordan           Hastings            15
31              Monica          Nicolescu            16
32              George              Bebis            17
33             Alireza          Tavakkoli            18
34               Eelke             Folmer            19

In [5]:
#populates dataframe for room_df, creating unique id for each row
room_df = data[['Room', 'Room Capacity']].drop_duplicates().rename(columns={'Room': 'RoomNo', 'Room Capacity': 'RoomCapacity'})

room_df['RoomID'] = range(1, len(room_df) + 1)

print(room_df)

      RoomNo  RoomCapacity  RoomID
0    SEM 101           254       1
1   WPEB 100            58       2
7   WPEB 130           210       3
13   SEM 234            70       4
14   LME 321            32       5
15  DMSC 104            83       6
16  DMSC 103            83       7
17   SEM 261            49       8
23   CFA 153            68       9
24  WPEB 200            36      10
26  SEM 231C            41      11
27    MS 321            48      12
28   SEM 347            40      13
29    AB 102            93      14
31  DMSC 110           464      15
33  DMSC 102            69      16
34  DMSC 105            83      17

In [6]:
status_df = data[['Class Stat']].drop_duplicates().rename(columns={'Class Stat': 'StatusCode'})

status_df['StatusID'] = range(1, len(status_df) + 1)

print(status_df)

  StatusCode  StatusID
0          A         1

In [7]:
#populates dataframe for class
class_df = data[['Title', 'Catalog', 'Subject', 'Section', 'Enrollment Capacity', 'College']].drop_duplicates().rename(columns={'Enrollment Capacity': 'Enrollment_Capacity'})
class_df['College_ID'] = college_df['CollegeID']

#adds CollegeID to class_df from college_df
class_df = class_df.merge(college_df[['CollegeName', 'CollegeID']], 
                          
                          #Join conditions
                          left_on='College', 
                          right_on='CollegeName', 
                          
                          #join type
                          how='left')

class_df = class_df.drop('CollegeName', axis=1)

print(class_df)

                             Title  Catalog Subject  Section  \
0               Computer Science I      135      CS     1001
1               Computer Science I      135      CS     1101
2               Computer Science I      135      CS     1102
3               Computer Science I      135      CS     1103
4               Computer Science I      135      CS     1104
5               Computer Science I      135      CS     1105
6               Computer Science I      135      CS     1106
7              Computer Science II      202      CS     1001
8              Computer Science II      202      CS     1101
9              Computer Science II      202      CS     1102
10             Computer Science II      202      CS     1103
11             Computer Science II      202      CS     1104
12             Computer Science II      202      CS     1105
13           Computer Organization      219      CS     1001
14  Digital Forensics Fundamentals      252      CS     1001
15                 Data Structures      302      CS     1001
16          Prog Lang Conc Implmnt      326      CS     1001
17          Prog Lang Conc Implmnt      326      CS     5801
18              Testing and DevOps      333      CS     1001
19            Math of Comp Science      365      CS     1001
20        Game Engine Architecture      381      CS     1001
21              Senior Projects Cs      426      CS     1001
22        Introduction to Big Data      431      CS     1001
23               Internet Security      445      CS     1001
24              Princ Comp Op Syst      446      CS     1001
25          Computer Systems Admin      447      CS     1001
26  Mobile Comp Security & Privacy      453      CS     1001
27          Mobile Sensor Networks      455      CS     1001
28          Automata & Formal Lang      456      CS     1001
29           Database Mgmt Systems      457      CS     1001
30             Anlys of Algorithms      477      CS     1001
31             Pattern Recognition      479      CS     1001
32               Computer Graphics      480      CS     1001
33                 Virtual Reality      484      CS     1001
34    Intro to Convex Optimization      486      CS     1001
35   Fundamentals of Deep Learning      487      CS     1001

    Enrollment_Capacity College  College_ID  CollegeID
0                   160    ENGR         1.0          1
1                     0    ENGR         NaN          1
2                    32    ENGR         NaN          1
3                    32    ENGR         NaN          1
4                    32    ENGR         NaN          1
5                    32    ENGR         NaN          1
6                    32    ENGR         NaN          1
7                   160    ENGR         NaN          1
8                    32    ENGR         NaN          1
9                    32    ENGR         NaN          1
10                   32    ENGR         NaN          1
11                   32    ENGR         NaN          1
12                   32    ENGR         NaN          1
13                   80    ENGR         NaN          1
14                   32    ENGR         NaN          1
15                   81    ENGR         NaN          1
16                   83    ENGR         NaN          1
17                   40    ENGR         NaN          1
18                   58    ENGR         NaN          1
19                   83    ENGR         NaN          1
20                   58    ENGR         NaN          1
21                  160    ENGR         NaN          1
22                   47    ENGR         NaN          1
23                   30    ENGR         NaN          1
24                   85    ENGR         NaN          1
25                   32    ENGR         NaN          1
26                   30    ENGR         NaN          1
27                   30    ENGR         NaN          1
28                   92    ENGR         NaN          1
29                   91    ENGR         NaN          1
30                  110    ENGR         NaN          1
31                   15    ENGR         NaN          1
32                   45    ENGR         NaN          1
33                   38    ENGR         NaN          1
34                   34    ENGR         NaN          1
35                   43    ENGR         NaN          1

In [ ]:
section_df = data[[
    'Class Nbr', 'Component', 'Room Capacity', 'Combined?', 'Waitlist Capacity',
    'Waitlist Total', 'Prgrss Unt', 'Class Stat', 'Session', 'Instruction Mode'
]].drop_duplicates().copy()

section_df.rename(columns={
    'Class Nbr': 'SectionClassID',
    'Component': 'Component',
    'Room Capacity': 'Room',
    'Combined?': 'isCombined',
    'Waitlist Capacity': 'WaitlistCapacity',
    'Waitlist Total': 'WaitlistTotal',
    'Prgrss Unt': 'ProgressUnit',
    'Class Stat': 'StatusID',
    'Session': 'Session',
    'Instruction Mode': 'InstructionMode'
}, inplace=True)

section_df['isCombined'] = section_df['isCombined'].map({'Yes': True, 'No': False})

print(section_df)

    SectionClassID Component  Room  isCombined  WaitlistCapacity  \
0            24638       LEC   254       False               999
1            24639       LAB    58       False                 0
2            24640       LAB    58       False               999
3            24646       LAB    58       False               999
4            24654       LAB    58       False               999
5            24751       LAB    58       False               999
6            24752       LAB    58       False               999
7            24641       LEC   210       False               999
8            24642       LAB    58       False               999
9            24643       LAB    58       False               999
10           24644       LAB    58       False               999
11           24645       LAB    58       False               999
12           24714       LAB    58       False               999
13           24682       LEC    70       False               999
14           24679       LEC    32       False               999
15           24635       LEC    83       False               999
16           24672       LEC    83       False               999
17           24813       LEC    49       False               999
18           24795       LEC    58       False               999
19           24636       LEC   210       False               999
20           24695       LEC    58       False               999
21           24648       LEC   210       False               999
23           24791       LEC    68        True               999
24           24680       LEC    36        True               999
25           24637       LEC   210        True               999
26           24716       LEC    41        True               999
27           24718       LEC    48        True               999
28           24789       LEC    40        True               999
29           24649       LEC    93        True               999
30           24720       LEC   210        True               999
31           24651       LEC   464        True               999
32           24785       LEC    36        True               999
33           32374       LEC    69        True               999
34           24730       LEC    83        True               999
35           32389       LEC    83        True               999
36           24767       LEC    69        True               999

    WaitlistTotal  ProgressUnit StatusID Session InstructionMode
0               0             3        A       1               P
1               0             3        A       1               P
2               0             3        A       1               P
3               0             3        A       1               P
4               1             3        A       1               P
5               0             3        A       1               P
6               0             3        A       1               P
7               1             3        A       1               P
8               0             3        A       1               P
9               0             3        A       1               P
10              0             3        A       1               P
11              0             3        A       1               P
12              1             3        A       1               P
13              0             3        A       1               P
14              6             3        A       1               P
15              0             3        A       1               P
16              0             3        A       1               P
17              0             3        A     WIN               P
18              2             3        A       1               P
19              0             3        A       1               P
20              6             3        A       1               P
21              0             3        A       1               P
23              0             3        A       1               P
24              3             3        A       1               P
25              0             3        A       1               P
26              1             3        A       1               P
27              1             3        A       1               P
28              0             3        A       1               P
29              4             3        A       1               P
30              0             3        A       1               P
31              0             3        A       1               P
32              0             3        A       1               P
33              0             3        A       1               P
34              0             3        A       1               P
35              0             3        A       1               P
36              0             3        A       1               P

In [ ]:
data['InstructorFullName'] = data['Instructor First Name'].str.strip() + ' ' + data['Instructor Last Name'].str.strip()
instructors = data[['InstructorFullName']].drop_duplicates().reset_index(drop=True)
instructors['InstructorID'] = instructors.index + 1 

data = data.merge(instructors, on='InstructorFullName', how='left')

data['SectionClassID'] = data['Class Nbr']

section_instructor = data[['SectionClassID', 'InstructorID']].drop_duplicates()

section_instructor = section_instructor.sort_values(by=['SectionClassID', 'InstructorID']).reset_index(drop=True)

print(section_instructor)

    SectionClassID  InstructorID
0            24635             1
1            24636             5
2            24637            11
3            24638             1
4            24639             1
5            24640             1
6            24641             2
7            24642             2
8            24643             2
9            24644             2
10           24645             2
11           24646             1
12           24648             7
13           24648             8
14           24649             3
15           24651            16
16           24654             1
17           24672             4
18           24679             3
19           24680            10
20           24682             2
21           24695             6
22           24714             2
23           24716            12
24           24718            13
25           24720            15
26           24730            19
27           24751             1
28           24752             1
29           24767            18
30           24785            17
31           24789            14
32           24791             9
33           24795             1
34           24813             1
35           32374            18
36           32389             9

In [ ]:
import sqlite3

conn = sqlite3.connect('ClassSchedule.db')

# Save dataframes to the database as tables
college_df.to_sql('College', conn, if_exists='replace', index=False)
instructor_df.to_sql('Instructor', conn, if_exists='replace', index=False)
room_df.to_sql('Room', conn, if_exists='replace', index=False)
status_df.to_sql('Status', conn, if_exists='replace', index=False)
class_df.to_sql('Class', conn, if_exists='replace', index=False)
section_df.to_sql('Section', conn, if_exists='replace', index=False)
section_instructor.to_sql('SectionInstructor', conn, if_exists='replace', index=False)

# Close the database connection
conn.close()

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('ClassSchedule.db')

# List all tables
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

# Loop through each table and print its contents
for table_name in tables['name']:
    print(f"\nContents of {table_name} table:")
    table_data = pd.read_sql(f"SELECT * FROM {table_name};", conn)
    print(table_data)

conn.close()

Contents of sqlite_sequence table:
Empty DataFrame
Columns: [name, seq]
Index: []

Contents of College table:
  CollegeName  CollegeID
0        ENGR          1

Contents of Instructor table:
   InstructorFirstName InstructorLastName  InstructorID
0                 Erin              Keith             1
1              Bashira        Akter Anima             2
2                Nancy        Latourrette             3
3               Mircea          Nicolescu             4
4                Diana               Moss             5
5               Joshua               Dahl             6
6                 Sara              Davis             7
7                David        Feil-Seifer             8
8                  Lei               Yang             9
9               Shamik           Sengupta            10
10            Christos       Papachristos            11
11             Zachary           Estreito            12
12             William            Doherty            13
13                Hung                 La            14
14              Jordan           Hastings            15
15              Monica          Nicolescu            16
16              George              Bebis            17
17             Alireza          Tavakkoli            18
18               Eelke             Folmer            19

Contents of Room table:
      RoomNo  RoomCapacity  RoomID
0    SEM 101           254       1
1   WPEB 100            58       2
2   WPEB 130           210       3
3    SEM 234            70       4
4    LME 321            32       5
5   DMSC 104            83       6
6   DMSC 103            83       7
7    SEM 261            49       8
8    CFA 153            68       9
9   WPEB 200            36      10
10  SEM 231C            41      11
11    MS 321            48      12
12   SEM 347            40      13
13    AB 102            93      14
14  DMSC 110           464      15
15  DMSC 102            69      16
16  DMSC 105            83      17

Contents of Status table:
  StatusCode  StatusID
0          A         1

Contents of Class table:
                             Title  Catalog Subject  Section  \
0               Computer Science I      135      CS     1001
1               Computer Science I      135      CS     1101
2               Computer Science I      135      CS     1102
3               Computer Science I      135      CS     1103
4               Computer Science I      135      CS     1104
5               Computer Science I      135      CS     1105
6               Computer Science I      135      CS     1106
7              Computer Science II      202      CS     1001
8              Computer Science II      202      CS     1101
9              Computer Science II      202      CS     1102
10             Computer Science II      202      CS     1103
11             Computer Science II      202      CS     1104
12             Computer Science II      202      CS     1105
13           Computer Organization      219      CS     1001
14  Digital Forensics Fundamentals      252      CS     1001
15                 Data Structures      302      CS     1001
16          Prog Lang Conc Implmnt      326      CS     1001
17          Prog Lang Conc Implmnt      326      CS     5801
18              Testing and DevOps      333      CS     1001
19            Math of Comp Science      365      CS     1001
20        Game Engine Architecture      381      CS     1001
21              Senior Projects Cs      426      CS     1001
22        Introduction to Big Data      431      CS     1001
23               Internet Security      445      CS     1001
24              Princ Comp Op Syst      446      CS     1001
25          Computer Systems Admin      447      CS     1001
26  Mobile Comp Security & Privacy      453      CS     1001
27          Mobile Sensor Networks      455      CS     1001
28          Automata & Formal Lang      456      CS     1001
29           Database Mgmt Systems      457      CS     1001
30             Anlys of Algorithms      477      CS     1001
31             Pattern Recognition      479      CS     1001
32               Computer Graphics      480      CS     1001
33                 Virtual Reality      484      CS     1001
34    Intro to Convex Optimization      486      CS     1001
35   Fundamentals of Deep Learning      487      CS     1001

    Enrollment_Capacity College  College_ID  CollegeID
0                   160    ENGR         1.0          1
1                     0    ENGR         NaN          1
2                    32    ENGR         NaN          1
3                    32    ENGR         NaN          1
4                    32    ENGR         NaN          1
5                    32    ENGR         NaN          1
6                    32    ENGR         NaN          1
7                   160    ENGR         NaN          1
8                    32    ENGR         NaN          1
9                    32    ENGR         NaN          1
10                   32    ENGR         NaN          1
11                   32    ENGR         NaN          1
12                   32    ENGR         NaN          1
13                   80    ENGR         NaN          1
14                   32    ENGR         NaN          1
15                   81    ENGR         NaN          1
16                   83    ENGR         NaN          1
17                   40    ENGR         NaN          1
18                   58    ENGR         NaN          1
19                   83    ENGR         NaN          1
20                   58    ENGR         NaN          1
21                  160    ENGR         NaN          1
22                   47    ENGR         NaN          1
23                   30    ENGR         NaN          1
24                   85    ENGR         NaN          1
25                   32    ENGR         NaN          1
26                   30    ENGR         NaN          1
27                   30    ENGR         NaN          1
28                   92    ENGR         NaN          1
29                   91    ENGR         NaN          1
30                  110    ENGR         NaN          1
31                   15    ENGR         NaN          1
32                   45    ENGR         NaN          1
33                   38    ENGR         NaN          1
34                   34    ENGR         NaN          1
35                   43    ENGR         NaN          1

Contents of Section table:
    SectionClassID Component  Room  isCombined  WaitlistCapacity  \
0            24638       LEC   254           0               999
1            24639       LAB    58           0                 0
2            24640       LAB    58           0               999
3            24646       LAB    58           0               999
4            24654       LAB    58           0               999
5            24751       LAB    58           0               999
6            24752       LAB    58           0               999
7            24641       LEC   210           0               999
8            24642       LAB    58           0               999
9            24643       LAB    58           0               999
10           24644       LAB    58           0               999
11           24645       LAB    58           0               999
12           24714       LAB    58           0               999
13           24682       LEC    70           0               999
14           24679       LEC    32           0               999
15           24635       LEC    83           0               999
16           24672       LEC    83           0               999
17           24813       LEC    49           0               999
18           24795       LEC    58           0               999
19           24636       LEC   210           0               999
20           24695       LEC    58           0               999
21           24648       LEC   210           0               999
22           24791       LEC    68           1               999
23           24680       LEC    36           1               999
24           24637       LEC   210           1               999
25           24716       LEC    41           1               999
26           24718       LEC    48           1               999
27           24789       LEC    40           1               999
28           24649       LEC    93           1               999
29           24720       LEC   210           1               999
30           24651       LEC   464           1               999
31           24785       LEC    36           1               999
32           32374       LEC    69           1               999
33           24730       LEC    83           1               999
34           32389       LEC    83           1               999
35           24767       LEC    69           1               999

    WaitlistTotal  ProgressUnit StatusID Session InstructionMode
0               0             3        A       1               P
1               0             3        A       1               P
2               0             3        A       1               P
3               0             3        A       1               P
4               1             3        A       1               P
5               0             3        A       1               P
6               0             3        A       1               P
7               1             3        A       1               P
8               0             3        A       1               P
9               0             3        A       1               P
10              0             3        A       1               P
11              0             3        A       1               P
12              1             3        A       1               P
13              0             3        A       1               P
14              6             3        A       1               P
15              0             3        A       1               P
16              0             3        A       1               P
17              0             3        A     WIN               P
18              2             3        A       1               P
19              0             3        A       1               P
20              6             3        A       1               P
21              0             3        A       1               P
22              0             3        A       1               P
23              3             3        A       1               P
24              0             3        A       1               P
25              1             3        A       1               P
26              1             3        A       1               P
27              0             3        A       1               P
28              4             3        A       1               P
29              0             3        A       1               P
30              0             3        A       1               P
31              0             3        A       1               P
32              0             3        A       1               P
33              0             3        A       1               P
34              0             3        A       1               P
35              0             3        A       1               P

Contents of SectionInstructor table:
    SectionClassID  InstructorID
0            24635             1
1            24636             5
2            24637            11
3            24638             1
4            24639             1
5            24640             1
6            24641             2
7            24642             2
8            24643             2
9            24644             2
10           24645             2
11           24646             1
12           24648             7
13           24648             8
14           24649             3
15           24651            16
16           24654             1
17           24672             4
18           24679             3
19           24680            10
20           24682             2
21           24695             6
22           24714             2
23           24716            12
24           24718            13
25           24720            15
26           24730            19
27           24751             1
28           24752             1
29           24767            18
30           24785            17
31           24789            14
32           24791             9
33           24795             1
34           24813             1
35           32374            18
36           32389             9